@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}



body {
  font-family: "Inter", sans-serif;
  color: #333;
  /* padding-top: 64px; */
}




button {
  transition: all 0.3s ease-in-out;
}

button:hover {
  transform: scale(1.05);
}

select {
  transition: all 0.3s ease-in-out;
  background-color: transparent;
  border: none;
}


h1 {
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

h1:hover {
  transform: scale(1.05);
}


a {
  transition: all 0.3s ease-in-out;
}

a:hover {
  transform: scale(1.05);
}
html {
  scroll-behavior: smooth;
}
